div{
    background-color: brown;
    color: black;
    color: azure;
    font-size: 40px;
}
#sec-1{
    background-color: red;
    color: black;
}
#sec-2{
    background-color: yellow;
    color: azure;
}